.hvr-tag{
    height: 44px;
    width:44px;
    background-size: 42px 42px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.75;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.hvr-tag-single-public{
    background-color: #219451;
}

.hvr-tag-single-private{
    background-color: rgba(0, 154, 255, 0.8);
}

.hvr-tag-multiple-mixed{
    background-color: yellow;
}

.hvr-tag-multiple-public{
    background-color: blue;
}

.hvr-tag-multiple-private{
    background-color: purple;
}

.hover-outline{
    outline: 2px solid red;
}